<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="page<%= @page.id %>" class="texture">
    <%= site_bar -%>

    <div id="container" class="texture-normal">
      <div id="page_container">
        <%= render "/refinery/header" -%>
        <%= render "/refinery/menu" -%>

        <div class="main">

          <div class="left">
            <%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html -%>
            <%#= SubMenuPresenter.new(sub_menu_pages(@page), self).to_html || "Новости" -%>
            <p> </p>
            <%#= render "/refinery/search" -%>
          </div>

          <div class="wrapper">
            <div class="center">
              <%= yield %>
            </div>

            <div class="right">
              <p></p>
            </div>
          </div>
        </div>
        
        <footer>
          <%= render "/refinery/footer" -%>
        </footer> 


        <%= render "/refinery/javascripts" -%>
        
      </div>
    </div>

  </body>
</html>